
body {
    margin: 0;
    padding: 0;
    font-family: 'Trirong', serif;
    width: 100%;
    flex-wrap: wrap;
    background-color: #97e2f8;
}
nav {
    background-color: #97e2f8;
    display: inline-block;
    width: 100%;
    height: 60px;
}
nav a.logo img {
width: 84px;
margin: -5px -12px 0 25px;
float: left
;}
nav a.logo img:hover {
    width:94px;
    box-shadow: white;
}
nav a.formschool {
    text-decoration: none;
    color: black;
float: right;
margin: 20px 30px 0 0;
}
nav a.formschool:hover {
    font-weight: bolder;
}
div.container {
   display: flex;
   justify-content: flex-start;
  }
  div.barschool {
    margin: 0;
    padding: 0;
    width: 14%;
    background-color: #97e2f8;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
div.allschool {
margin-left:10%;
padding:1px 235px;
height:680px;
background-color: #ffffff;
border-radius: 10px;
} 

/* div.barschool {
    background-color: #97e2f8;
    width: 170px;
margin-left: -15px;
} */

div.barschool ul {
    list-style-type: none;
    line-height: 18px;
}
 div.barschool ul a {
    text-decoration: none;
    color: black;
    display: block;
    background-color: #97e2f8;
    padding: 10% 10% 8% 10% ;
    transition: 0.6s;
    background-size: 200% auto;
    border-radius: 5px; 
    margin-left: -10%;
    } 
     div.barschool ul a:hover {
        background-image: linear-gradient(to right, #97e2f8 0%, #5ec4ff 51%, #97e2f8 100%);
        background-position: right center;
        border-radius: 25px;
    }
    
    div.barschool ul a#athere {
        background-color: #5ec4ff;
        padding: 10%;
        border-radius: 25px;
    }  
    /* div.allschool {
        background-color: white;
        border-radius: 10px;
        width: 1330px;
    } */
    
    /* div.container h2 {
        position: relative;
        text-align: center;
        letter-spacing: 3px;
    }
    div.school {
        display: grid;
        grid-template-columns: 335px 335px 335px;
        grid-template-rows: 125px 125px 125px;
        grid-gap: 50px;
        position: absolute;
        top: 20%;
        left: 20%;
        letter-spacing: 2px;
    }
    
    div.icon {
        margin-left: 10px;
    }
    
    div.icon img {
        width: 50px;
    }
    
    div.box1 {
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: -10px 10px 5px #97e2f8;
        
    }
    
    div.box1:hover,
    div.box1:active {
        width: 110%;
        height: 110%;
        font-size: larger;
        box-shadow: -10px 10px 5px #5ec4ff;
    }
    
    div.box1 a {
        text-decoration: none;
        color: black;
    }
    
    div.box1 a p {
        margin-left: 20px;
        text-decoration: none;
    }
    
    div.box1 a img.iconnext {
        width: 18px;
        position: absolute;
        margin-top: -4%;
        margin-left: 27%;
    }
    div.nextto {
        display: grid;
        grid-template-columns: 35px 35px 35px;
        text-align: center;
        gap: 45px;
        position: absolute;
        top: 80%;
left: 47%;
    }
     div.nextto a#athere {
        border: 4px solid cornflowerblue;
        background-color: cornflowerblue;
        color: #ffffff;

    }
    
    div.nextto a {
        border: 4px solid cornflowerblue;
        border-radius: 50%;
        text-decoration: none;
        color: cornflowerblue;
    } 

    div.nextto a:hover {
        border: 4px solid cornflowerblue;
        background-color: cornflowerblue;
        border-radius: 50%;
        color: #ffffff;
    } 
      
  